html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*::-webkit-scrollbar { */
/*display: none; */
/*}*/

.invistext {
  display: none;
}

.rigid-link {
  text-decoration: none;
}

.flag-icon {
  opacity: 0.5;
  transition: all 0.5s;
}

.clickable {
  cursor: pointer;
}

.flag-icon:hover {
  opacity: 1;
}

.gold {
  color: gold;
}

h3.contact {
  color: white;
  text-transform: none;
  margin-top: 50px;
  margin-bottom: 30px;
}

h4.contact {
  color: white;
  font-weight: normal;
  margin: 15px;
  text-transform: none;
}

.rigid-link:hover {
  text-decoration: none;
}

.carousel {
  margin-bottom: 50px;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #fed136;
}

.news {
  text-align: left;
  width: 540px;
  margin-top: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.04);
  margin-bottom: 50px;
}

.news h3 {
  text-align: center;
  margin-top: 2px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.news h4 {
  text-align: left;
  font-size: 15px;
  text-transform: none;
  font-weight: 200;
  line-height: 21px;
  display: inline;
}

.date {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  text-transform: none;
  font-weight: 100;
  height: 40px;
  float: left;
  margin-right: 10px;
  margin-top: 18px;
  padding-bottom: 70px;
  display: inline-block;
}

@media (max-width: 768px) {
  .news {
    margin-left: -15px;
    margin-right: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 450px;
  }

  .news h3 {
    text-align: left;
    margin-top: -25px;
    font-size: 20px;
  }

  .news h4 {
    font-size: 14px;
  }

  .date {
    padding-top: 12px;
    font-size: 14px;
  }
}

.date .glyphicon {
  color: gold;
}
p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #fec503;
}

h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  text-transform: none;
  font-family: 'Parisienne', cursive;
  font-size: 95px;
  font-weight: 100;
  line-height: 75px;
  margin-top: 250px;
  margin-bottom: 50px;
}

.main-title {
  margin-top: 80px;
}

#about {
  padding-top: 35px;
  margin-bottom: 150px;
}

.subtitle {
  margin-bottom: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 16px;
  line-height: 40px;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gold {
  background-color: #fff7c9;
}

.bg-darkest-gray {
  background-color: #222;
}

.btn-primary {
  border-color: #fed136;
  text-transform: uppercase;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #f6bf01;
  color: #fff;
  background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #fed136;
  background-color: #fed136;
}

.btn-primary .badge {
  color: #fed136;
  background-color: #fff;
}

.btn-xl {
  padding: 20px 40px;
  border-color: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: gold;
  background-color: transparent;
  margin-top: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  border-color: white;
  color: gold;
  background-color: rgba(255, 255, 255, 0.05);
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  border-color: #fed136;
  background-color: #fed136;
}

.btn-xl .badge {
  color: #fed136;
  background-color: #fff;
}

.navbar-default {
  border-color: transparent;
  background-color: #222;
}

.navbar-default .navbar-brand {
  font-family: 'Parisienne', cursive;
  color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: gold;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}

.navbar-default .navbar-toggle {
  border-color: #fed136;
  background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fed136;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #fed136;
}

.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #fff;
  background-color: gold;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: gold;
}

@media (min-width: 768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }

  .navbar-default .navbar-brand {
    font-size: 7em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .navbar-default .navbar-nav > .active > a {
    border-radius: 0px;
  }

  .navbar-default.navbar-shrink {
    padding: 0px 0;
    background-color: #101010;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 3.5em;
  }
}

header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  background-image: url(../img/header-background.jpg);
  background-position: center 42%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 568px) {
  header {
    background-position: top -70px left 0;
  }

  .main-title {
    margin-top: 170px;
    margin-bottom: 10px;
  }
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 0px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 16px;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 0px;
  text-transform: none;
  font-family: 'Parisienne', cursive;
  font-size: 45px;
  font-weight: 100;
  line-height: 45px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 25px;
  }

  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 16px;
    line-height: 40px;
  }

  header .intro-text .intro-heading {
    margin-bottom: 0px;
    text-transform: none;
    font-family: 'Parisienne', cursive;
    font-size: 95px;
    font-weight: 100;
    line-height: 75px;
  }
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  text-transform: none;
  font-family: 'Parisienne', cursive;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 50px;
  color: gold;
}

section h3.section-subheading {
  margin-top: 10px;
  margin-bottom: 75px;
  text-transform: none;
  color: #3c3c3c;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media (min-width: 768px) {
  section {
    padding: 70px 0;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
  color: gold;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  background-color: #f1f1f1;
}

.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

.timeline > li:before,
.timeline > li:after {
  content: ' ';
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }

  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }

  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }

  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }

  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  .timeline > li .timeline-image h5 {
    margin-top: calc(50% - 23px);
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

aside.clients img {
  margin: 50px auto;
}

section#contact {
  padding-bottom: 40px;
  margin-top: -20px;
  background-color: #222;
  background-image: url(../img/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  padding: 25px 0;
  text-align: center;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #222;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #222;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #222;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

.round-image {
  width: 100%;
  height: 100%;
}

::-moz-selection {
  text-shadow: none;
  background: #fed136;
}

img::-moz-selection {
  background: 0 0;
}

.album-link div:hover div {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.9 !important;
}

@media (max-width: 1200px) {
  .new-release {
    font-size: 29px !important;
  }
}

@media (max-width: 992px) {
  .new-release {
    font-size: 102px !important;
  }
}

@media (max-width: 768px) {
  .new-release {
    font-size: 12.5vw !important;
  }
}

.clicked .bullet {
  display: none;
}

@media (max-width: 768px) {
  .navbar-brand.page-scroll {
    font-size: 34px;
  }
}

.navbar-toggle {
  margin-top: 9px;
  margin-bottom: 9px;
}

.biography-download {
  padding-top: 32px;
}

.biography-download .row {
  margin-top: 32px;
  padding: 0 16px;
}

#news {
  padding-bottom: 0;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container::before {
  content: "";
  display: block;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

@media (max-width: 768px) {
  #news {
    padding-top: 0;
    margin-top: -38px;
  }
}
