<!--Landing Section-->
<header id="landing" class="section">
    <div class="container">
        <div class="intro-text" style="height: 400px; position: relative">
            <h1 id="hi" style="display: none">hi</h1>
            <h2 id="welcomeTo" style="display: none; margin-top: 0">Welcome to your website manager.</h2>
            <h2 id="youCanChange" style="display: none; margin-top: 0">From here you can change your website's
                content without having to tell Iuliu to! How amazing is that!</h2>
            <h1 id="goodLuck" style="display: none; margin-top: 20px; color: gold">Enjoy!</h1>
            <h3 id="youCanStart" style="display: none; color: white!important; margin-top: 100px; color: gold">
                Choose one of the right-top menu options to start
            </h3>
        </div>
    </div>
</header>